<<<<<<< HEAD
.dt-buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.date-range-filter {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
}

.date-range-filter input {
    margin-left: 10px;
}

tfoot {
    font-weight: bold;
=======
.dt-buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.date-range-filter {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
}

.date-range-filter input {
    margin-left: 10px;
}

tfoot {
    font-weight: bold;
>>>>>>> 0047e6d2ad0aec210ba961115f4ab15c78665bec
}